.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50vh;
  transform: translateY(-50%);
};

.label-name {
  margin-right: 5px;
}

.input-name {
  margin-right: 15px;
}

.login-button {
  margin-top: 20px;
  height: 30px;
  width: 70px;
}